$primary-color: #eee;
$scendray-color: #dfdfdf;
$shadow-color: #d1d0ce;
$text-color: #54565b;
$background-color: #f5f5f5;

$white: #fff;
$blue: #00a4e4;
$red: #db0011;

$gray-light: #6c6f76;
$gray: #54565b;

$green-light: #95c73d;
$green: #78a22f;

$orange-light: #e98c4b;
$orange: #e36f1e;

$perple-light: #d63099;
$perple: #b0237c;

$padding: 20px;
$margin: 20px;

$borderRadius :10px;
