h1, h2, h3, h4, h5 {
	font-family: Arial, sans-serif;
    color: $text-color;
    line-height: 1;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

h1{
	font-size: 2.250rem;
	text-align: center;
}

span {
	font-family: Arial, sans-serif;
    color: $text-color;
    line-height: 1;
    margin: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
	font-size: 1rem;
	text-align: center;
}

.error-message {
    font-family: Arial, sans-serif;
    color: $red;
    line-height: 1;
    margin: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1rem;
    text-align: center;
}